/data/
*.pt
*.pkl
*.npy
*.pyc
.DS_Store

# Weird files, probably from mounting
._*
.pytest_cache/
package-lock.json
*.egg-info/
.claude/.*
.claude/todos
.claude/statsig
.claude/shell-snapshots
.claude/projects
wandb/